<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
 <!--<![endif]-->
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <title>Porto - Responsive HTML5 Template 3.1.0</title>
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Libs CSS -->
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="~/vendor/owl-carousel/owl.carousel.css" media="screen">
    <link rel="stylesheet" href="~/vendor/owl-carousel/owl.theme.css" media="screen">
    <link rel="stylesheet" href="~/vendor/magnific-popup/magnific-popup.css" media="screen">
    <link rel="stylesheet" href="~/vendor/isotope/jquery.isotope.css" media="screen">
    <link rel="stylesheet" href="~/vendor/mediaelement/mediaelementplayer.css" media="screen">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/css/theme.css">
    <link rel="stylesheet" href="~/css/theme-elements.css">
    <link rel="stylesheet" href="~/css/theme-blog.css">
    <link rel="stylesheet" href="~/css/theme-shop.css">
    <link rel="stylesheet" href="~/css/theme-animate.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/theme-responsive.css" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/css/skins/default.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/custom.css">

    <!-- Head Libs -->
    <script src="~/vendor/modernizr.js"></script>

    <!--[if IE]>
        <link rel="stylesheet" href="~/css/ie.css">
    <![endif]-->
    <!--[if lte IE 8]>
        <script src="~/vendor/respond.js"></script>
    <![endif]-->
    @RenderSection("HeadSection", false)
</head>
<body class="one-page" data-target=".single-menu" data-spy="scroll" data-offset="200">

    <div class="body">
        <header id="header" class="single-menu flat-menu">
            <div class="container">
                <h1 class="logo">
                    <a href="index.html">
                        <img alt="Porto" width="111" height="54" data-sticky-width="82" data-sticky-height="40" src="~/img/logo.png">
                    </a>
                </h1>
                <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
                    <i class="icon icon-bars"></i>
                </button>
            </div>
            <div class="navbar-collapse nav-main-collapse collapse">
                <div class="container">
                    <ul class="social-icons">
                        <li class="facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook">Facebook</a></li>
                        <li class="twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter">Twitter</a></li>
                        <li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin">Linkedin</a></li>
                    </ul>
                    <nav class="nav-main">
                        <ul class="nav nav-pills nav-main" id="mainMenu">

                            @RenderSection("NavSection",false)

                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <div role="main" class="main">

        @RenderBody()

        </div>

        <footer class="short" id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h4>About Porto</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna. Phasellus semper scelerisque purus, et semper nisl lacinia sit amet. Praesent venenatis turpis vitae purus semper, eget sagittis velit venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos...</p>
                        <hr class="light">
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        <h5 class="short">Contact Us</h5>
                        <span class="phone">(800) 123-4567</span>
                        <p class="short">International: (333) 456-6670</p>
                        <p class="short">Fax: (222) 531-8999</p>
                        <ul class="list icons list-unstyled">
                            <li><i class="icon icon-envelope"></i> <a href="mailto:okler@okler.net">okler@okler.net</a></li>
                        </ul>
                        <div class="social-icons">
                            <ul class="social-icons">
                                <li class="facebook"><a href="http://www.facebook.com/" target="_blank" data-placement="bottom" rel="tooltip" title="Facebook">Facebook</a></li>
                                <li class="twitter"><a href="http://www.twitter.com/" target="_blank" data-placement="bottom" rel="tooltip" title="Twitter">Twitter</a></li>
                                <li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" data-placement="bottom" rel="tooltip" title="Linkedin">Linkedin</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-1">
                            <a href="index.html" class="logo">
                                <img alt="Porto Website Template" class="~/img-responsive" src="~/img/logo-footer.png">
                            </a>
                        </div>
                        <div class="col-md-11">
                            <p>© Copyright 2014. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Libs -->
    <script src="~/vendor/jquery.js"></script>
    <script src="~/vendor/jquery.appear.js"></script>
    <script src="~/vendor/jquery.easing.js"></script>
    <script src="~/vendor/jquery.cookie.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/vendor/jquery.validate.js"></script>
    <script src="~/vendor/jquery.stellar.js"></script>
    <script src="~/vendor/jquery.knob.js"></script>
    <script src="~/vendor/jquery.gmap.js"></script>
    <script src="~/vendor/twitterjs/twitter.js"></script>
    <script src="~/vendor/isotope/jquery.isotope.js"></script>
    <script src="~/vendor/owl-carousel/owl.carousel.js"></script>
    <script src="~/vendor/jflickrfeed/jflickrfeed.js"></script>
    <script src="~/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="~/vendor/mediaelement/mediaelement-and-player.js"></script>

    <!-- Theme Initializer -->
    <script src="~/js/theme.plugins.js"></script>
    <script src="~/js/theme.js"></script>

    <!-- Custom JS -->
    <script src="~/js/custom.js"></script>

    <!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-12345678-1']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
     -->

    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script>

        /*
        Map Settings

            Find the Latitude and Longitude of your address:
                - http://universimmedia.pagesperso-orange.fr/geo/loc.htm
                - http://www.findlatitudeandlongitude.com/find-address-from-latitude-and-longitude/

        */

        // Map Markers
        var mapMarkers = [{
            address: "217 Summit Boulevard, Birmingham, AL 35243",
            html: "<strong>Alabama Office</strong><br>217 Summit Boulevard, Birmingham, AL 35243<br><br><a href='#' onclick='mapCenterAt({latitude: 33.44792, longitude: -86.72963, zoom: 16}, event)'>[+] zoom here</a>",
            icon: {
                image: "~/img/pin.png",
                iconsize: [26, 46],
                iconanchor: [12, 46]
            }
        }, {
            address: "645 E. Shaw Avenue, Fresno, CA 93710",
            html: "<strong>California Office</strong><br>645 E. Shaw Avenue, Fresno, CA 93710<br><br><a href='#' onclick='mapCenterAt({latitude: 36.80948, longitude: -119.77598, zoom: 16}, event)'>[+] zoom here</a>",
            icon: {
                image: "~/img/pin.png",
                iconsize: [26, 46],
                iconanchor: [12, 46]
            }
        }, {
            address: "New York, NY 10017",
            html: "<strong>New York Office</strong><br>New York, NY 10017<br><br><a href='#' onclick='mapCenterAt({latitude: 40.75198, longitude: -73.96978, zoom: 16}, event)'>[+] zoom here</a>",
            icon: {
                image: "~/img/pin.png",
                iconsize: [26, 46],
                iconanchor: [12, 46]
            }
        }];

        // Map Initial Location
        var initLatitude = 37.09024;
        var initLongitude = -95.71289;

        // Map Extended Settings
        var mapSettings = {
            controls: {
                panControl: true,
                zoomControl: true,
                mapTypeControl: true,
                scaleControl: true,
                streetViewControl: true,
                overviewMapControl: true
            },
            scrollwheel: false,
            markers: mapMarkers,
            latitude: initLatitude,
            longitude: initLongitude,
            zoom: 5
        };

        var map = $("#googlemaps").gMap(mapSettings);

        // Map Center At
        var mapCenterAt = function (options, e) {
            e.preventDefault();
            $("#googlemaps").gMap("centerAt", options);
        }
    </script>

    @RenderSection("ScriptsSection", false)

</body>
</html>